<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Node-Red</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/style.css">
   </head>
   <body class="py-0">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
         <div class="container-fluid">
            <a href="#" class="navbar-brand ml-5"> Node-RED</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavbar"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavbar">
               <ul class="navbar-nav ml-auto">
                  {{#if user}}
                  <li class="nav-item active">
                     <a href="/users/dashboardLogout"  class="nav-link mr-5">Logout</a>
                  </li>
                  {{else}}
                  <li class="nav-item" id="navEditor">
                     <a href="/editorLogin"  class="nav-link mr-5">Editor</a>
                  </li>
                  <li class="nav-item" id="navDashboard">
                     <a href="/users/dashboardLogin" class="nav-link mr-5">Dashboard</a>
                  </li>
                  <li class="nav-item" id="navRegister">
                     <a href="/users/registerUser" class="nav-link mr-5">Register</a>
                  </li>
                  {{/if}}
               </ul>
            </div>
         </div>
      </nav>
     
      <div  id="frameDiv"></div>
     
      <div class="container py-5">
         <div class="row">
            <div class="col-lg-12">
               {{#if success_msg}}
               <div class="alert alert-success text-center">{{success_msg}}</div>
               {{/if}}
               {{#if error_msg}}
               <div class="alert alert-danger text-center">{{error_msg}}</div>
               {{/if}}
               {{#if error}}
               <div class="alert alert-danger text-center">{{error}}</div>
               {{/if}}
               {{#if errors}}
                {{#each errors}}
               <div class="alert alert-danger text-center">{{this.msg}}</div>
               {{/each}}
               {{/if}}
               {{{body}}}
            </div>
         </div>
      </div>
     
      <!-- /container -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
   </body>
</html>